* { padding: 0; margin: 0; }

body { font-family: arial; font-size: 12px; line-height: 1.7em; background: #FAFAFA; }

#form { width: 450px; margin: 0 auto; }

#wrapper {
	width: 450px;
	margin: 0 auto;
}

h1 { font-family: Verdana; color: #666; font-size: 18px; margin-bottom: 30px; margin-top: 50px; border-bottom: 1px dotted #666; margin-right: 33px; padding-bottom: 3px; }

#errors { display: none; width: 450px; text-align: left; margin: 0 auto; }

#form { width: 450px; margin: 0 auto; }

label { 
	margin-right: 10px; 
	padding-right: 10px; 
	line-height: 2.75em;
	padding-bottom: .5em;
	width: 125px; 
	display: block; 
	float: left;  
	font-weight: bold; 
	text-align: right; 
	position: relative;
    color: #666; 
}

input:focus,
textarea:focus,
select:focus { outline: none; border-color: #86C1D2; -moz-box-shadow: 0px 0px 15px #459fba; -webkit-box-shadow: 0px 0px 15px #459fba; }

.error input,
.error textarea,
.error select { border-color: #c00 !important; -moz-box-shadow: 0px 0px 10px #F00 !important; -webkit-box-shadow: 0px 0px 10px #F00 !important; }

.field { margin-bottom: 2em; position: relative; }

input, select {
    padding: 6px;
	border: 1px solid #BBB;
}

button { padding: 5px 15px; margin-left: 143px; margin-top: 5px; margin-bottom: 20px; }